core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
*.sqlite3
*.pyc
sew_crafty/__pycache__
home/__pycache__
shop/__pycache__
events/__pycache__
