{% extends "base.html" %}
{% load static %}
{% load get_subtotal %}

{% block content %}

{% include 'includes/delivery_banner.html' %}

    <div class="background-container">
        <div class="shop-item-background"></div>
    </div>
    <div class="page-content-container">
    <div class="row">
        <div class="col">
            {% if basket_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-hover">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>

                        {% for item in basket_items %}
                            <tr>
                                <td class="py-3">
                                    <a href="{% url 'shop_item_info' item.shop_item.id %}">{{ item.shop_item.name }}</a>
                                    <p>{{ item.shop_item.description }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">£{{ item.shop_item.price }}</p>
                                </td>
                                <td class="py-3">
                                    <form class="form update-basket-form" method ="POST" action="{% url 'adjust_basket' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99" 
                                                    data-item_id="{{ item.item_id }}" 
                                                    id="id_qty_{{ item.item_id }}">
                                            </div>
                                        </div>
                                        <button type="submit" role="submit" class="text-info borderless-btn"><small>Update basket</small></button>
                                    </form>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">£{{ item.shop_item.price | get_subtotal:item.quantity }}</p>
                                </td>
                                <td class="py-3">
                                    <a href="{% url 'delete_from_basket' item.shop_item.id %}" class="text-danger"><i class="fa-solid fa-trash-can"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td class="py-3">
                                <a href="{% url 'shop' %}" class="btn rounded-2 basket-button">
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                            </td>
                            <td colspan="3">  
                                <p>Basket Total: £{{ total|floatformat:2 }}</p>
                                {% if free_delivery_prompt != 0 %}
                                    <p>Postage: £{{ delivery|floatformat:2 }}</p>
                                {% else %}
                                    <p>Postage: Free</p>
                                {% endif %}
                                <p class="font-large">Grand Total: £{{ grand_total|floatformat:2 }}</p>
                            </td>
                            <td class="py-3">
                                <a href="" class="btn rounded-2 basket-button">
                                    <span class="text-uppercase">Checkout</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <p class="lead mb-5">Your basket is empty.</p>
                <a href="{% url 'shop' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>

{% endblock %}