{% extends "base.html" %}
{% block title_addition %} - Shop{% endblock %}
{% load static %}

{% block content %}

{% include 'includes/delivery_banner.html' %}

    <div class="background-container">
        <div class="shop-background"></div>
    </div>
    <div class="container-fluid container-top-margin">
        <div class="row">
            <div class="col">
                <h2 class="text-light">Shop</h2>
                <hr class="heading-rule">
                <br>
            </div>
        </div>
        <div class="row">
            {% for shop_item in shop_items %}
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                    <div class="card h-75 border-0">
                        <a href="{% url 'shop_item_info' shop_item.id %}">
                            <img class="card-img-top img-fluid" src="{{ shop_item.image.url }}" alt="{{ shop_item.name }}">
                        </a>
                        <div class="card-body pb-0 bg-white text-dark">
                            <p class="mb-0">{{ shop_item.name }}</p>
                        </div>
                        <div class="card-footer pt-0 border-0 bg-white text-dark text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="mb-0 text-left">${{ shop_item.price }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}